body {
  font-family: 'ubuntu', sans-serif;
  font-size: 1.5rem;
}

h1 {
  padding-top: 10%;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 4rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 3rem;
}

h3 {
  font-weight: bold;
  font-size: 1.6rem;
}

p {
  color: #8f8f8f;
  font-size: 1.3rem;
}

.carousel-item {
  padding: 7% 15%;
}

.pricing-column {
  padding: 3% 2%;
}



.container-fluid {
  padding: 3% 15%;
}

.container {
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.Logo {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
}

.btn {
  margin: 7% 1%;
  font-size: 2rem;
}

.homepage-img {
  width: 55%;
  margin-top: 5%;
  margin-left: 20%;
  transform: rotate(25deg);
  position: absolute;
  z-index: 0;
}

/* This changes CSS properities based on viewport e.g. viewing from a tablet or phone rather than a computer */
@media (max-width: 1028px) {
  .homepage-img {
    position: static;
    transform: rotate(0);
    margin-left: 3%;
  }

  #title {
    text-align: center;
  }
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-weight: lighter;
  font-size: 1.2rem;
}

.navbar {
  padding: 0 0;
}

.fas {
  color: #ef8172;
  padding-bottom: 3%;
}

.fas:hover {
  color: #ff4c68;
}

.values {
  padding: 5% 5%;
  text-align: center;
}

.press-logo {
  width: 13%;
  margin: 20px 30px 50px;
}

#pricing {
  padding: 100px;
  text-align: center;
}
/* Testimonial Section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff
}

.testimonal-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.cta {
  font-size: 3rem;
  text-align: center;
}

#cta {
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding-top: 5%;
}

#footer {
  background-color: #fff;
  padding-top: 1%;
  text-align: center;
}
#title {
  background-color: #ff4c68;
  color: white;
}

.footer-fab {
  margin: 0 2%;
}
